<div class="limiter">
  <div class="background-login">
    <div class="Formulario row">
      <div class="logo d-flex align-items-center justify-content-center col-md-6 col-12">
        <img src="../../../assets/img/Agronomi-se.png" alt="Logo Agronomi-se">
      </div>

      <div class="login d-flex align-items-center justify-content-center col-md-6 col-12">
        <form>
          <p class="text-center title">Acesse sua conta</p>

          <div class="campo">
            <input type="email" class="input" placeholder="E-mail" required>
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="campo">
            <input type="password" class="input" placeholder="Senha" required>
            <i class="fa-solid fa-lock"></i>
          </div>

          <button class="botao-login  mt-4">Login</button>

          <div class="mensagens">
            <small><a href="#">Esqueceu a senha ?</a></small>
            <small class="criarConta"><a (click)="openModal()">Crie sua conta &rarr;</a></small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
