.filtro{
  padding: 18px;
  background-color: #F7F7F7;
  border-radius: 8px;
}

.tituloFiltro{
  i{
    color: #77942E;
  }
}

.select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #77942E;
  font-size: 15px;
  padding-right: 20px;
  position: relative;

  &::before {
    position: absolute;
    content: "\f078";
    font-size: 2em;
    color: #FFF;
    right: 20px;
    top: calc(50% - 0.5em);
  }
}

.page{
  border-top: 2px dashed #dfe3e7;
  margin-top: 32px;
}

.paginacao{
  margin-top: 16px;

  &::ng-deep .ngx-pagination li{
    padding: 8px 8px;
    border-radius: 8px;
    margin: 0 16px;
    border: 1px solid #dfe3e7;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgb(50 50 50 / 12%);
  }

  &::ng-deep .ngx-pagination .current{
    background-color: #77942E;
    border: 1px solid #dfe3e7  !important;
    padding: 11px 20px;
    border-radius: 8px;
    margin: 0 16px;
    box-shadow: 0 5px 10px 0 rgb(50 50 50 / 12%);
  }

  &::ng-deep .ngx-pagination .pagination-next, ::ng-deep .pagination-next.disabled{
    border: 1px solid #77942E;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0 5px 10px 0 rgb(50 50 50 / 12%);
    padding: 8px 12px;
  }

  &::ng-deep .ngx-pagination .pagination-next a::after, ::ng-deep .ngx-pagination .pagination-next.disabled::after{
    display: none;
  }

  &::ng-deep .ngx-pagination .pagination-previous, ::ng-deep .ngx-pagination .pagination-previous.disabled{
    border: 1px solid #77942E;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0 5px 10px 0 rgb(50 50 50 / 12%);
    padding: 8px 12px;
  }

  &::ng-deep .ngx-pagination .pagination-previous a::before, ::ng-deep .ngx-pagination .pagination-previous.disabled::before{
    display: none;
  }

  &::ng-deep .ngx-pagination li:hover, ::ng-deep .ngx-pagination a:hover{
    background: #77942E;
    color: white;
  }
}

::ng-deep {
  .slider .ngx-slider-bubble.ngx-slider-model-value{
    font-size: 12px;
  }

  .slider .ngx-slider-bubble.ngx-slider-model-high{
    font-size: 12px;
  }

  .slider .ngx-slider-bubble.ngx-slider-limit{
    font-size: 12px;
  }

  .slider .ngx-slider .ngx-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .slider .ngx-slider .ngx-slider-selection {
    background: #7C994C;
  }

  .slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #7C994C;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .slider .ngx-slider .ngx-slider-bubble {
    bottom: -23px;
  }

  .slider .ngx-slider .ngx-slider-limit {
    color: #7C994C;
  }

  .slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: #7C994C;
  }
}



