.footer{
  background-color: #252525;
  color: #fff;
  text-align: center;
  height: 150px;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p{
  margin-left: 6px;
}

.footer img {
  width: 200px;
}
