.header{
  width: 90%;
}

.titulo{
  border-bottom: 1px solid #77942E;
  padding: 0 0 8px 24px;
  width: 98%;
}

.iconeFolha{
  width: 100px;
  position: absolute;
  top: 0;
  right: 54px;
}

@media (max-width: 1024px) {
  .titulo{
    width: 60%;
  }

  .iconeFolha{
    right: 30px;
  }
}

label{
  font-size: 24px;
}

.input{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 100%;
  height: 32px;
  background-color: transparent;
  border-bottom: 1px solid #77942E;
  font-size: 15px;
  padding-right: 20px;
  position: relative;

  &.textArea{
   border: 1px solid #77942E;
   height: 100px;
  }

  &.tituloterreno{
    height: 50px;
    border: 1px solid #77942E;
  }
}

.label{
  font-size: 24px;
}

.form-check-input{
  background: #D9D9D9;
  border: none;
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.upload{
  transform: rotate(-90deg);
}

.btnUpload{
  width: 350px;
  height: 62px;
  background: #D9D9D9;
  font-size: 24px;
  border-radius: 6px;

  border: none;
}

.btnEnviar{
  background: #7C994C;
  color: white;
  width: 298px;
  height: 62px;
  border-radius: 6px;
  font-size: 24px;

  border: none;
}


