<div class="modal-header border-0">
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="header">
    <h1 class="titulo">Cadastro de Usuário</h1>
    <img src="../../../assets/img/curtir.png" alt="Ícone de folha" class="iconeFolha">
  </div>

  <div class="ms-4 me-4">
    <form class="formulario">
      <div class="row">
        <div class="col-md-4 col-12">
          <label class="mt-4 mb-3 d-block" for="primeiroNome">Primeiro Nome</label>
          <input type="text" class="input">
        </div>
        <div class="col-md-8 col-12">
          <label class="mt-4 mb-3 d-block" for="sobrenome">Sobrenome</label>
          <input type="text" class="input">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-12">
          <label class="mt-4 mb-3 d-block" for="senha">Data Nascimento</label>
          <input type="date" class="input">
        </div>
        <div class="col-md-4 col-12">
          <label class="mt-4 mb-3 d-block" for="email">E-mail</label>
          <input type="text" class="input">
        </div>
        <div class="col-md-4 col-12">
          <label class="mt-4 mb-3 d-block" for="senha">Senha</label>
          <input type="text" class="input">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-12">
          <label class="mt-4 mb-3 d-block" for="cidade">CEP</label>
          <input type="text" class="input">
        </div>
        <div class="col-md-8 col-12">
          <label class="mt-4 mb-3 d-block" for="cidade">Endereço</label>
          <input type="text" class="input">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-12">
          <label class="mt-4 mb-3 d-block" for="cidade">Número</label>
          <input type="text" class="input">
        </div>
        <div class="col-md-4 col-12">
          <label class="mt-4 mb-3 d-block" for="cidade">Bairro</label>
          <input type="text" class="input">
        </div>
        <div class="col-md-4 col-12">
          <label class="mt-4 mb-3 d-block" for="cidade">Cidade</label>
          <input type="text" class="input">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-12">
          <label class="mt-4 mb-3 d-block" for="cidade">Complemento</label>
          <input type="text" class="input">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="form-check mt-5 mb-3">
            <input class="form-check-input" type="checkbox" value="" id="comodatario">
            <label class="form-check-label" for="comodatario" class="label">
              Quero anunciar meu terreno
            </label>
          </div>
          <div class="form-check mt-4 mb-3">
            <input class="form-check-input" type="checkbox" value="" id="comodante">
            <label class="form-check-label" for="comodante" class="label">
              Quero fazer a minha horta
            </label>
          </div>
        </div>

        <div class="col-md-6 col-12 mt-4 d-flex justify-content-center align-items-end">
          <div class=" d-flex justify-content-center align-items-center">
            <label for="uploads" class="upload">Uploads</label>
            <div class="d-flex flex-column">
              <button class="btnUpload mb-3" type="button" (click)="uploadDocumentos('uploadDocFoto')">Documento com foto</button>
              <button class="btnUpload mb-3" type="button" (click)="uploadDocumentos('uploadCompEnd')">Comprovante de endereço</button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <button type="submit" class="btnEnviar mb-3">ENVIAR</button>
      </div>
      </form>
  </div>
</div>
