.card{
  height: 436px;
}

.card-img-top {
  width: 100%;
}

.tag{
  background-color: #8AAD34;
  color: white;
  padding: 2px 16px;
  border-radius: 20px;
  font-size: 12px;
}

.card-text{
  font-size: 12px;
}

.curtir{
  position: absolute;
  right: 16px;
  bottom: 22px;
  cursor: pointer;
}

.curtirAdmin img{
  position: absolute;
  left: 18px;
  bottom: 53px;
  cursor: pointer;
}

.btn-desistir{
  border-radius: 10px;
  background-color: red;
  color: #fff;
  border: none;
  padding: 4px 16px;
  width: 100%;
}

.btn-documentos{
  border-radius: 10px;
  background-color: #7C994C;
  color: #fff;
  border: none;
  padding: 4px 16px;
  width: 100%;
}
