    <section id="section-carousel">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <img src="assets/img/slides-home/slide-img-1.png" class="d-block w-100" alt="Slide 1 - Horta Caseira">
            <div class="carousel-caption d-flex justify-content-center align-items-center flex-column h-100">
              <h1 class="text-dark">Cultive Orgânicos</h1>
              <h5 class="text-dark">Manual para uma Horta Caseira e Agroecológica</h5>
              <a href="#" class="btnSaibaMais">Saiba Mais</a>
            </div>
          </div>
          <div class="carousel-item" >
            <img src="assets/img/slides-home/slide-img-2.png" class="d-block w-100" alt="Slide 2 - Alimentos Orgânicos">
            <div class="carousel-caption d-flex justify-content-center align-items-center flex-column h-100">
              <h1 class="text-light">Segurança Alimentar</h1>
              <h5 class="text-light">O que são alimentos orgânicos e quais são seus benefícios?</h5>
              <a href="#" class="btnSaibaMais2">Saiba Mais</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/slides-home/slide-img-3.png" class="d-block w-100" alt="Slide 3 - Adubação Orgânica">
            <div class="carousel-caption d-flex justify-content-center align-items-center flex-column h-100">
              <h1 class="text-light">Adubação Natural</h1>
              <h5 class="text-light">Conheça a sua importância !</h5>
              <a href="#" class="btnSaibaMais2">Saiba Mais</a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section id="conteudo">
      <div class="row">
        <div class="descricao col-12">
          <h2 class="titulo">Você já ouviu falar de Arrendamento Social?</h2>
          <p class="subtitulo">Essa é a proposta da plataforma Agronomi-se.</p>
          <p class="explicacao">Proprietários anunciam seus terrenos vazios, e os arrendam através de contrato comodato (sem custos), com a finalidade implantação de horta sustentável. Quem pode se inscrever para o arrendamento? Pessoas de baixa renda que necessitem de uma oportunidade.<p>

          <a href="../sobre-nos" class="botaoSaibaMais">Saiba Mais</a>
        </div>
      </div>

      <div class="passoPasso row">
        <div class="col-lg-4 col-12 col-sm-12 passo1 d-flex justify-content-center align-items-center flex-column">
          <i class="fa-solid fa-wallet"></i>
          <p>Escolha seu terreno</p>
        </div>
        <div class="col-lg-4 col-12 col-sm-12 passo2 d-flex justify-content-center align-items-center flex-column">
          <i class="fa-solid fa-square-phone"></i>
          <p>Entre em contato com proprietário</p>
        </div>
        <div class="col-lg-4 col-12 col-sm-12 passo3 d-flex justify-content-center align-items-center flex-column">
          <i class="fa-solid fa-file-signature"></i>
          <p>Assine o contrato Comodato</p>
        </div>
      </div>

      <div class="row slogan">
        <div class="col-lg-6 col-12 col-sm-12">
        </div>
        <div class="col-lg-6 col-12 col-sm-12 d-flex flex-column justify-content-center sloganPadding">
          <h2 class="tituloSlogan">Vantagem para quem arrenda, para quem planta e para toda sociedade!</h2>
          <p class="explicacaoSlogan">Produtos orgânicos acessíveis, geração de renda e qualidade de vida são alguns dos resultados proporcionados pela Agronomi-se.<p>
        </div>
      </div>

      <div class="ods pt-5 pb-5">
        <h2 class="text-center pb-5 m-0">Objetivos de Desenvolvimento Sustentável</h2>
        <div class="container mb-4">
          <div class="row">
            <div class="col-lg-4 col-12 col-sm-12 d-flex">
              <i class="fa-solid fa-city"></i>
              <div class="d-flex flex-column">
                <p class="tituloOds">Cidades e comunidades sustentáveis</p>
                <p class="descricaoOds">Tornar as cidades e os assentamentos humanos inclusivos, seguros, resilientes e sustentáveis.</p>
              </div>
            </div>
             <div class="col-lg-4 col-12 col-sm-12 d-flex">
              <i class="fa-solid fa-seedling"></i>
              <div class="d-flex flex-column">
                <p class="tituloOds">Consumo e produção responsáveis</p>
                <p class="descricaoOds">Assegurar padrões de produção e de consumo sustentáveis.</p>
              </div>
            </div>
             <div class="col-lg-4 col-12 col-sm-12 d-flex">
              <i class="fa-solid fa-hands-holding-child"></i>
              <div class="d-flex flex-column">
                <p class="tituloOds">Saúde e bem-estar</p>
                <p class="descricaoOds">Assegurar uma vida saudável e promover o bem-estar para todos, em todas as idades.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
             <div class="col-lg-6 col-12 col-sm-12 d-flex">
              <i class="fa-solid fa-user"></i>
              <div class="d-flex flex-column">
                <p class="tituloOds">Trabalho decente e crescimento econômico</p>
                <p class="descricaoOds">Promover o crescimento econômico sustentado, inclusivo e sustentável, emprego pleno e produtivo, e trabalho decente para todos.</p>
              </div>
            </div>
             <div class="col-lg-6 col-12 col-sm-12 d-flex">
               <i class="fa-solid fa-thumbs-up"></i>
              <div class="d-flex flex-column">
                <p class="tituloOds">Fome zero e agricultura sustentável</p>
                <p class="descricaoOds">Acabar com a fome, alcançar a segurança alimentar e melhoria da nutrição e promover a agricultura sustentável.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row parceiros">
        <div class="col-lg-6 col-12 col-sm-12 d-flex flex-column justify-content-center descricao">
          <h2 class="tituloParceiros">Conheça os nossos parceiros?</h2>

          <a href="../parceiros" class="botaoSaibaMaisParceiros">Clique aqui</a>
        </div>
          <div class="col-lg-6 col-12 col-sm-12">
          </div>
      </div>
    </section>
