.titulo{
  border-bottom: 1px solid #77942E;
  font-size: 24px;
}

.frame{
  background-color: #F2F5F1;
  border-radius: 10px;
  padding: 24px;

  overflow-y: auto;
  height: 524px;

  &::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: whitesmoke; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8AAD34;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid whitesmoke;  /* creates padding around scroll thumb */
  }
}

select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 50%;
  background-color: transparent;
  border-bottom: 1px solid #77942E;
  font-size: 15px;
  padding-right: 20px;
  position: relative;
  padding-bottom: 16px;
}


button{
  &.cadastro{
    text-align: start;
    border: none;
    background-color: transparent;
    width: 50%;
    border-bottom: 1px solid #77942E;
    font-size: 15px;
    padding-right: 20px;
    padding-bottom: 16px;
  }

  &.logout{
    border: none;
    background-color: transparent;
    font-size: 15px;
    padding-right: 20px;
  }
}

.botao-log{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.margin-personalizada{
  margin-bottom: 64px;
}
