<div class="modal-header border-0">
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="header">
        <h1 class="titulo">{{ nomeCompleto }}</h1>
      </div>

      <div class="row mt-5">
        <div class="col-12 margin-personalizada">
          <button type="button" class="cadastro">Atualizar Cadastro</button>
        </div>
      </div>

      <div class="botao-log">
        <button type="button" class="logout" (click)="logout()">
          <span class="me-3">Logout</span> <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="cardsTerreno frame">
        <div class="d-flex align-items-center justify-content-center">
          <ng-container *ngIf="terrenos.length > 0">
            <div class="col-12 col-md-4" *ngFor="let terreno of terrenos">
              <app-card-terreno [terreno]="terreno" [resultadoCompletoTerrenos]="terrenos" [pagina]="'admin'"></app-card-terreno>
            </div>
          </ng-container>

          <p *ngIf="terrenos.length === 0">Nenhum terreno foi sinalizado interesse.</p>
        </div>
      </div>
    </div>
  </div>
</div>


